doctype html
html(lang='en').
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Legacy RP - Stats</title>

        <!-- Styling -->
        <link rel="stylesheet" href="/stylesheets/global.css">
        <link rel="stylesheet" href="/stylesheets/profile.css">
    </head>
    <body>

        <!-- Header -->
        <div class="header">
            <!-- Float left -->
            <div style="float: left">
                <li><img src="#" alt="Logo"></li>
            </div>
            <!-- Float right -->
            <div style="float: right">
                <li><a href="https://legacyroleplay.online/">Forums</a></li>
                <li><a href="https://github.com/ExpDev07/LegacyStats">Source Code</a></li>
            </div>
        </div>

        <div class="content">
            <h1>#{data.name}</h1>
            <hr/>
            <p>
                #{data.firstname} #{data.lastname} is a <span id="gender">#{data.sex}</span> and was born at #{data.dateofbirth}. You
                can reach them at #{data.phone_number}.
            </p>

            <div id="stats">
                <li>Cash: <span>$#{data.money}</span></li>
                <li>Bank Account: <span>$#{data.bank}</span></li>
                <li>Job: <span>#{data.job}</span></li>
                <li>Group: <span>#{data.group}</span></li>
                <li>Is Dead: <span>No</span></li>
                <li>Pet: <span>#{data.pet}</span></li>
            </div>

            <p>
                <span style="color: red">Warning:</span> Information displayed here should not be used for in-game purposes unless explicitly told by that
                person. Doing so would fall under metagaming, which is a violation of the server rules.
            </p>
        </div>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/javascripts/profile.js"></script>
        
    </body>
